<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="fas fa-user fa-fw"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <li>
      <a class="dropdown-item" href="#!" id="editLink" onclick="openEditPopup()">회원정보수정</a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#!">로그아웃</a></li>
  </ul>
</li>


<div id="editPopup" class="popup">
  <div class="popup-content">
    <span class="close" onclick="closeEditPopup()">&times;</span>
    <table class="table table-borderless text-center">
      <form>
        <tr>
          <h2 class="text-center">회원정보수정</h2>
        </tr>
        <tr>
          <td><label for="studentId">학번</label></td>
          <td>
            <input
              type="text"
              id="studentId"
              name="studentId"
              value="학번"
              readonly
              class="input-field"
            />
          </td>
        </tr>
        <tr>
          <td><label for="name">이름</label></td>
          <td>
            <input
              type="text"
              id="name"
              name="name"
              value="김"
              readonly
              class="input-field"
            />
          </td>
        </tr>
        <tr>
          <td><label for="birthdate">생일</label></td>
          <td>
            <input
              type="date"
              id="birthdate"
              name="birthdate"
              class="input-field"
            />
          </td>
        </tr>
        <tr>
          <td><label for="email">이메일</label></td>
          <td>
            <input type="email" id="email" name="email" class="input-field" />
          </td>
        </tr>
        <tr>
          <td><label for="phone">전화번호</label></td>
          <td>
            <input type="tel" id="phone" name="phone" class="input-field" />
          </td>
        </tr>
        <tr>
          <td><label for="address">주소</label></td>
          <td>
            <input
              type="text"
              id="address"
              name="address"
              class="input-field"
            />
          </td>
        </tr>
        <tr>
          <td><label for="password">비밀번호</label></td>
          <td>
            <input
              type="password"
              id="password"
              name="password"
              class="input-field"
            />
          </td>
        </tr>
        <tr>
          <td><label for="passwordCheck">비밀번호 확인</label></td>
          <td>
            <input
              type="password"
              id="passwordCheck"
              name="passwordCheck"
              class="input-field"
            />
          </td>
        </tr>
      </form>
    </table>
      <div class="button-group" style="text-align: end;">
        <button type="submit" class="btn-save" style="width: 20%;">저장</button>
      </div>
    </form>
  </div>
</div>
