<div class="sb-sidenav-menu">
  <div class="nav">
    <!-- 수강관리 -->
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#course"
      aria-expanded="false"
      aria-controls="course"
    >
      <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
      수강관리
      <div class="sb-sidenav-collapse-arrow">
        <i class="fas fa-angle-down"></i>
      </div>
    </a>
    <div
      class="collapse"
      id="course"
      aria-labelledby="headingOne"
      data-bs-parent="#sidenavAccordion"
    >
      <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="../course_management/syllabus_inquiry.html"
          >강의계획서 조회</a
        >
        <a class="nav-link" href="../course_management/enrolment.html"
          >수강신청</a
        >
      </nav>
    </div>

    <!-- 학습 -->
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#study"
      aria-expanded="false"
      aria-controls="study"
    >
      <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
      학습
      <div class="sb-sidenav-collapse-arrow">
        <i class="fas fa-angle-down"></i>
      </div>
    </a>
    <div
      class="collapse"
      id="study"
      aria-labelledby="headingOne"
      data-bs-parent="#sidenavAccordion"
    >
      <nav class="sb-sidenav-menu-nested nav" id ="study_nav">
        <a class="nav-link" href="../study/grade.html">성적조회</a>
        <a class="nav-link" href="#.html">학사일정</a>
      </nav>
    </div>

    <!-- 게시판 -->
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#boards"
      aria-expanded="false"
      aria-controls="boards"
    >
      <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
      게시판
      <div class="sb-sidenav-collapse-arrow">
        <i class="fas fa-angle-down"></i>
      </div>
    </a>
    <div
      class="collapse"
      id="boards"
      aria-labelledby="headingOne"
      data-bs-parent="#sidenavAccordion"
    >
      <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="../boards/announcement.html">공지사항</a>
        <a class="nav-link" href="../boards/free_board.html">자유게시판</a>
        <a class="nav-link" href="../boards/task_board.html">과제게시판</a>
        <a class="nav-link" href="../boards/board.html">강의게시판</a>
      </nav>
    </div>

    <!-- 학사서비스 -->
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#service"
      aria-expanded="false"
      aria-controls="service"
    >
      <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
      학사서비스
      <div class="sb-sidenav-collapse-arrow">
        <i class="fas fa-angle-down"></i>
      </div>
    </a>
    <div
      class="collapse"
      id="service"
      aria-labelledby="headingOne"
      data-bs-parent="#sidenavAccordion"
    >
      <nav class="sb-sidenav-menu-nested nav" id = "service_nav">
      </nav>
    </div>
  </div>
</div>
